html, body {margin: 0; padding: 0;}
h1, h2 { line-height: 1em}
.messageContent { text-align: start; text-transform: none; }
.container { width: 70vw; background-color: #3b98bf; padding-top: 40px; border-radius: 10px; box-shadow: 0 6px 12px rgba(0,0,0,0.1); display: flex; flex-flow: column nowrap; align-items: center; justify-content: flex-end;}
.page { display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 96%; padding-top: 20px; margin-top: 120px; }
.tableData { padding: 10px !important; }
.mobileTableHeaders {display: none;}
tr:nth-child(2n + 1) { background-color: #eee !important;} 
th { background-color: #fff !important}
td { border-radius: 5px}
.noMessage {
    width: 30%;
}
.form-table tr {
    background-color: #fff !important;
}
.privSelector {
    background-color: #eee !important;
    width: 100%;
    align-self: flex-start;
}
.msgContainer {
    border: none; 
    margin: 0 auto; 
    padding: 5px 10px; 
    min-width: 33vw;
}
.msgContainer2 {
    border: none;  
    padding: 5px 10px; 
    min-width: 100%;
    min-height: 50px;
    background-color: #eee;
    margin: 0;
}
.msgAttributes {
    display: flex; 
    flex-flow: column nowrap; 
    align-items: flex-start; 
    justify-content: flex-start; 
    margin-left: 5px;
}
.attributeGroup {
    width: 100%;
    display: flex; 
    flex-flow: row nowrap; 
    align-items: center; 
    justify-content: center;
}

.submitButton {
    padding: 6px 20px;
    border-radius: 4px;
    border: none;
    color: #212121;
}

.scheduleVisible {
    border: none; 
    margin: 10px 5px; 
    margin-bottom: 0;
    opacity: 1;
    transition: 0.5s ease;
}

.scheduleHidden {
    opacity: 0;
    transition: 0.5s ease;
    /* display: none; */
}

.sendModal {
    z-index: 100;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    overflow-x: none;
}

.smHidden {
    transition: 0.5s ease;
    margin-top: 100vh;
    opacity: 0;
}

.smVisible {
    transition: 0.5s ease;
    margin-top: 0;
    opacity: 1;
}

.wptcard {
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}

#compose {
    align-self: center;
    width: 40%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

@media all and (max-width:768px) {
    .tableContainer tr {    display: table;  width:100%;    }               
    .tableContainer td {    display: table-row; }       
    .tableHeaderRow { display: none !important; }
    .messageContent { text-align: end !important; text-transform: none; }
    .container { width: 100vw; margin: 0;}
    .page { display: flex; flex-flow: column nowrap; align-items: center; justify-content: center; width: 100%; margin: 0; padding: 0; }
    .tableData { display: flex !important; flex-flow: row nowrap !important; align-items: center !important; justify-content: space-between !important; width: 90%; padding: 10px; text-align: start !important}
    .mobileTableHeaders {display: inline-block; }
    th { background-color: rgba(0,0,0,0) !important}
    tr { border-radius: 5px}
    .form-table tr {
        background-color: #fff !important;
    }
    .auto-fold #wpcontent {
        padding: 0;
        margin: 0;
        overflow-x: none;
    }
    .noMessage {
        width: 60%;
    }
    .msgContainer {
        border: none; 
        margin: 0 auto; 
        padding: 5px 10px; 
        min-width: 80vw;
    }
    .msgAttributes {
        display: flex; 
        flex-flow: column nowrap; 
        align-items: flex-start; 
        justify-content: space-evenly;
    }

    .attributeGroup {
        width: 100%;
        display: flex; 
        flex-flow: row nowrap; 
        align-items: center; 
        justify-content: center;
    }

    .submitButton {
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        color: #212121;
    }

    .wptcard {
        padding: 10px;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
        height: 40vh;
        align-self: flex-end;
    }

    #compose {
        width: 80%;
    }
}